html,
body{
	width: 800px;
	height: 480px;
	font-size: 12px;
}
a{
	color: inherit;
	text-decoration: none;
}

.no-margin{
	margin: 0 !important;
}
.no-padding{
	padding: 0 !important;
}

.clearfix:after {
    display: block;
    height: 0;
    content: ".";
    clear: both;
    visibility: hidden;
    line-height: 0;
}
.clearfix {
    display: inline-block;
}

#wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	background-color: #465d42;
	color: #fff;
}
#wrapper #zone1{
	height: 90%;
	flex: 1 1 66%;
	/* background-color: red; */
}
#wrapper #zone2{
	height: 90%;
	flex: 1 1 34%;
	border-left: 2px solid #fff;
	box-sizing: border-box;
	/* background-color: green; */
}
#wrapper #zone2 #weather{
	width: 90%;
	margin: 1em auto;
	font-family: sans-serif;
}
#weather .large-text{
	font-size: 2.25rem;
}
#weather .med-text{
	font-size: 1.5rem;
}
#weather .small-text{
	font-size: 1.25rem;
}
#weather .weather-icon{
	display: block;
	background-color: white;
	border-radius: 10px;
}
#weather #currentIcon{
	width: 125px;
	height: 125px;
	margin: 0.5em auto;
	font-size: 3rem;
}
#weather .temp-display::after{
	content: "°";
}
#weather #forecastContainer{
	display: flex;
	margin: 1.7rem auto;
	flex-flow: row;
	justify-content: space-between;
}
#forecastContainer .forecast-box{
	display: inline-block;
	height: 10rem;
	flex: 0 1 30%;
	border: 2px solid #fff;
	border-radius: 10px;
}
#forecastContainer .forecast-box .forecast-icon{
	width: 50px;
	height: 50px;
	margin: .25em auto;
}
#wrapper #zone3{
	flex: 1 1 100%;
	height: 10%;
	background-color: #000;
}

.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-tiny{
	font-size: 0.75 rem;
}
