@font-face {
	font-family: "LED-Counter";
	src: url("/FONTS/led_counter-7.ttf");
}

html,
body{
	width: 1024px;
	height: 600px;
	overflow: hidden;
	font-size: 12px;
}
a{
	color: inherit;
	text-decoration: none;
}

.no-margin{
	margin: 0 !important;
}
.no-padding{
	padding: 0 !important;
}

.backdrop{
	padding: 1em;
	background-color: #00000055;
	border-radius: 10px;
	box-sizing: border-box;
}

.clearfix:after {
    display: block;
    height: 0;
    content: ".";
    clear: both;
    visibility: hidden;
    line-height: 0;
}
.clearfix {
    display: inline-block;
}

#wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	background: #465d42;
	background-size: contain;
	color: #fff;
}
/* Zone 1 - Tasks */
#wrapper #zone1{
	height: 92%;
	flex: 1 1 66%;
}
#zone1 #tasks{
	width: auto;
	height: calc(100% - 2em);
	margin: 1em;
	font-family: sans-serif;
}
#tasks #list{
	max-height: calc(100% - 2.5rem);
	padding-left: 1.5em;
}
#list .task-parent,
#list .task{
	display: block;
	padding: 0.33em 0;
	opacity: 1.0;
	font-size: 2rem;
	transition: opacity 1s linear;
}
#list .task-parent .task{
	font-size: 1.5rem;
	padding-left: 1.33em;
}
#list .task-parent.deleted,
#list .task.deleted{
	opacity: 0.0;
}
.check{
	display: none;
}
.check + label{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	background-color: #fff;
	color: #000;
	text-align: center;
	line-height: 20px;
}
.check:not(:checked) + label::before{
	content: "\00A0";
	font-size: 18px;
}

.check:checked + label::before{
	content: "\2713";
	font-size: 18px;
}

/* Zone 2 - Weather */
#wrapper #zone2{
	height: 92%;
	flex: 1 1 34%;
	border-left: 2px solid #fff;
	box-sizing: border-box;
	position: relative;
}
#wrapper #zone2 #update,
#wrapper #zone2 #weather{
	width: 90%;
	margin: 1em auto;
	font-family: sans-serif;
}
#wrapper #zone2 #weather{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}
#weather .weather-icon{
	display: block;
	background-color: white;
	border-radius: 10px;
}
#weather #currentIcon{
	width: 125px;
	height: 125px;
	margin: 0.5em auto;
	font-size: 3rem;
}
#weather .temp-display::after{
	content: "°";
}
#weather #forecastContainer{
	display: flex;
	margin: 1.7rem auto;
	flex-flow: row;
	justify-content: space-between;
}
#forecastContainer .forecast-box{
	display: inline-block;
	height: 10rem;
	flex: 0 1 30%;
	border: 2px solid #fff;
	border-radius: 10px;
}
#forecastContainer .forecast-box .forecast-icon{
	width: 50px;
	height: 50px;
	margin: .25em auto;
}
/* Zone 3 - Stocks */
#wrapper #zone3{
	flex: 1 1 100%;
	height: 8%;
	overflow: hidden;
	background-color: #000;
}
#wrapper #zone3 #stocks{
	width: fit-content;
	height: 48px;
	white-space: nowrap;
	line-height: 48px;
	font-family: "LED-Counter", monospace;
	/*Animation stuff*/
	transform: translateX(100%);
	animation: stockslide 90s linear infinite;
}
#stocks .single-stock{
	font-size: 2rem;
	margin-right: 1rem;
}
#stocks .single-stock .down{
	color: #f55;
}
#stocks .single-stock .up{
	color: #5f5;
}

/*Animation stylings*/
@keyframes stockslide{
	0% {
		transform: translateX(1034px);
	}
	100% {
		transform: translateX(-100%);
	}
}

.float-left{
	float: left;
}
.float-right{
	float: right;
}

.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-tiny{
	font-size: 0.75 rem;
}
.text-underline{
	text-decoration: underline;
}
.text-large{
	font-size: 2.25rem;
}
.text-med{
	font-size: 1.5rem;
}
.text-small{
	font-size: 1.25rem;
}
